.standard{
	font-size: 2.2rem;
	color: $black;
}

.body-text {
	font-size: 2.2rem;
	color: $black;
	max-width: 60rem;
	margin: 0 auto;
}

.divider{
	height: 1px;
	background-color: $black;
	margin: 4rem 0;
}

.large-divider{
	height: 80rem;

}

