* {
	box-sizing: border-box;
	// border: 1px solid red;
}

html{
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	position: relative;
	background-color: $yellow;
}

h1, h2, h3, h4, h5, h6, p, {
	font-family: sans-serif;
	color: $turquoise;
	font-weight: normal;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
	&:visited{color:inherit;}	
}

p{
	font-size: 2rem;
	line-height: 1.6em;
}




