.site_header{

}

#title{
	font-size: 4rem;
	text-align: center;
}

.nav-list{
	padding: 0;
	text-align: center;
}

.nav-list li{
	display: inline-block;
	margin: 1rem;
	text-align: center;
}

.nav-active{border-bottom: 1px solid $black;}




