#menu-1{
	font-size: 2.2rem;
	max-width: 60rem;
	margin: 0 auto;
	
	ul{
		margin: 0;
		padding: 0;
	}

	li{border-bottom: 1px solid #ccc;}
	li:last-child{border: none;}

	a{
		display: block;
		transition: font-size 0.2s ease, background-color 0.2s ease;
		padding: .5rem;	
	}

	li:hover{
		font-size: 3rem;
		background-color: rgba(0,0,0,.05);
	}

}

#menu-2{
	@include menu;
	background-color: $red;
	max-width: 40rem;
	padding: 2rem;

	li{margin-bottom: 1rem;
	}

	a{
		color: $alabaster;
		border: 2px solid $alabaster;
		padding: 3px;
		transition: color .1s ease, background-color .1s ease;
	}

	a:hover{
		color: $red;
		background-color: $alabaster;

	}
}

#menu-3{
	@include menu;
	text-align: center;
	max-width: 100rem;
	background-color: $green;
	padding: 5rem;

	li{display: inline-block;}

	a{
		display: inline-block;
		color: #fff;
		padding: 1rem;
		border-right: 1px solid #fff;	
	}

	li:hover{
		background-image: repeating-linear-gradient(30deg, 
              hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px,
              transparent 0, transparent 30px);

	}

	li:last-child{a{border-right: none;}}


}

#menu-4{
	@include menu;
	padding: 3rem;
	text-align: left;
	border-left: 2px solid $black;
	max-width: 300px;

	li{
		transform: rotate(-25deg);
		transition: transform 2s ease;

		&:hover{
			transform: rotate(-15deg);
		}

	}

	a{
		padding: 1rem;
	}

}







