#menu-1{
	font-size: 2.2rem;
	max-width: 60rem;
	margin: 0 auto;
	height: 200px;
	text-align: right;
	
	ul{
		margin: 0;
		padding: 0;
	}

	li{border-bottom: 1px solid #ccc;}
	li:last-child{border: none;}
	li:hover{
		font-size: 3rem;
		background-color: rgba(0,0,0,.05);
	}

	a{	
		color: black;
		display: block;
		transition: font-size 0.2s ease, background-color 0.2s ease;
		padding: .5rem;	
	}

}

#menu-2{
	@include menu;
	background-color: $red;
	max-width: 40rem;
	padding: 2rem;

	li{margin-bottom: 1rem;
	}

	a{
		color: $alabaster;
		border: 2px solid $alabaster;
		padding: 3px;
		transition: color .1s ease, background-color .1s ease;
	}

	a:hover{
		color: $red;
		background-color: $alabaster;

	}
}

#menu-3{
	@include menu;
	text-align: center;
	max-width: 100rem;
	background-color: $green;
	padding: 5rem;

	li{display: inline-block;}

	a{
		display: inline-block;
		color: #fff;
		padding: 1rem;
		border-right: 1px solid #fff;	
	}

	li:hover{
			  background-image: repeating-linear-gradient(30deg, 
              hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px,
              transparent 0, transparent 30px);
	}

	li:last-child{a{border-right: none;}}


}

#menu-4{
	@include menu;
	padding: 3rem;
	text-align: left;
	border-left: 2px solid $black;
	max-width: 300px;

	li{
		transform: rotate(-25deg);
		transition: transform .4s ease;

		&:hover{
			transform: rotate(-15deg);
		}
		&:active{
			transform: scale(2);
		}

	}

	a{
		padding: 1rem;
		color: $black;
	}

}

#menu-5{
	@include menu;
	max-width: 900px;
	

	li{
		display:inline-block;
		background-color: $black;
		border-radius: 5px;
		border: 1px solid $black;
		transition: transform .2s ease-out;	

		&:hover{
			background-color: black;
			transform: scale(1.5);
			border: 1px solid #fff;
		}
	}

	a{  color: white;
		display:block;
		padding: .8rem 2.2rem;
	}

}

#menu-6{
	@include menu;
	background-color: $cyan;
	font-size: 2.6rem;
	padding: 1rem;
	max-width: 90rem;
	text-align: center;
	border: 2px solid $orange;
	box-shadow: inset 0 0 1rem white, inset 0 0 2rem white;
	outline: 1rem solid $cyan;

	li{
		display: inline-block;
		margin: 2rem 3rem;
	}

	a{
		color: white;
		transition: .1s;
		text-shadow: 0 0 1rem $orange, 0 0 .1rem $orange, 0 0 .5rem $orange,
		0 0 5rem $orange, 0 0 2rem $orange;
	}

	a:hover{
		text-shadow: 0 0 1rem #fff, 0 0 .2rem #fff;
	}
}

#menu-7{
	@include menu;
	padding: 2rem;
	background: $amber;
	background-image: repeating-linear-gradient(75deg, 
      hsla(0,0%,100%,.06), hsla(0,0%,100%,.06) 15px,
      transparent 0, transparent 30px);

	a{
		color: white;
		display: inline-block;
		padding: 1rem 0;
		animation: 2s infinite alternate menu-7-animation;
	}
}

#menu-8{
	@include menu;
	background: $light-blue;
	font-size: 8rem;
	border: 8px solid black;
	width: auto;

	a{
		font-family: "jaf-bernino-sans", Helvetica;
		color: white;
		text-shadow: text-retro(), 0 0 1rem black;
		&:hover{background-color: black;}
	}
}

#menu-9{
	@include menu;
	background: $amber;
	background: -moz-linear-gradient(left, rgba(255,193,7,1) 0%, rgba(255,235,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,193,7,1) 0%,rgba(255,235,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,193,7,1) 0%,rgba(255,235,59,1) 100%); 
	font-size: 8rem;
	// border: 8px solid black;
	width: auto;
	text-align: center;
	border: 8px solid $amber;

	a{	
		color: white;		
		&:hover{
			text-shadow: text-retro(black, 4), -2px -2px 2rem lighten($amber, 20%),
		 -1px -1px 1rem lighten($amber, 30%), -1px -1px .5rem lighten($amber,30%);
			background-color: black;}
	}
}

// border: 1em solid transparent;
// 	background: linear-gradient(white, white) padding-box,
// 	            repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, 
// 	              #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 / 6em 6em;








