.about-section{
	border-bottom: 2px dashed $blue;
	padding: 2rem 5%;
	max-width: 600px;
	margin: 2rem auto 4rem auto;

	p{font-family: 'Cabin', sans-serif;}
}

.menu-title{
	font-size: 3rem;
	font-family: 'Oleo Script', sans-serif;
	text-align: center;
}

h2{
	font-size: 3rem;
	font-family: 'Cabin', sans-serif;
}

.food-section, .sweet-section{
	padding: 0 5%;
	margin: 0 auto;
	max-width: 600px;
}

.menu-options{
	padding: 0;
	list-style-type: none;
}

.menu-item{
	@include clearfix;
	h5{
		font-size: 2rem;
		display: inline;
		font-family: 'Cabin', sans-serif;
	}

	.item{float: left;}
	.price{float: right;}

	span{
		clear: both;
		font-family: 'Cabin', sans-serif;
		float: left;
		font-size: 1.6rem;
		color: $turquoise;
	}


}
