//Flightpath Colors//

$yellow: #FCE38A;
$turquoise: #0E5F76;
$blue: #083D56;
$navy: #0C2233;
$light-blue: #f4fefd;

//Other Colors //

// $white: #fffefc;
// $alabaster: #fefaf0;
// $cream: #fffbda;
// $cotton: #fbfcf7;
// $buttermilk: #fdefb2;

// $link_hover: #121314;
// $link_visited: #121314;
// $dark_blue: #34445b;
// $light_grey: rgba(255,255,255, 1);
// $mid_grey: rgba(182, 190, 188, 1);
// $dark_grey: rgba(137, 143, 141, 1);
// $red: #823744;
// $brown: #CCA983;
// $black: rgba(0,0,0,.8);




//Layout
$padding-1: 1rem;
$padding-2: 2rem;

$margin-1: 1rem;
$margin-2: 2rem;

//Shadows
$shadow-1: 2px 2px 10px rgba(204,169,131, .2);